<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>WebSocket简单聊天室</title>
<meta charset="utf-8" name="viewport" content="width=device-width">
</head>
<body>

	<div layout:fragment="content">

		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-12 row">
					<h1>欢迎：</h1>
					<h1 id="username"
						th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></h1>
				</div>
				<div class="col-sm-12">
					<form>
						<div class="form-group row">
							<label class="col-form-label col-sm-2" for="msg">发送内容</label>
							<textarea class="form-control col-sm-10" id="msg" rows="3"></textarea>
						</div>
						<div class="offset-2 form-group row">
							<button class="btn btn-primary" onclick="sendMsgToServer()">发送
								(enter)</button>
							<button class="btn btn-default" onclick="clearMsg()">清屏
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="col-sm-6">
				<div>
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" data-toggle="tab"
							href="#profile"><i class="fa fa-user-o" aria-hidden="true"></i>
								<span>聊天内容</span></a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"><i
								class="fa fa-user" aria-hidden="true"></i><span>在线人数</span> <span
								id="chat-num">0</span></a>
							<div id="userList" class="dropdown-menu">
							</div>
						</li>
					</ul>
					<!-- <i class="fa fa-user" aria-hidden="true"></i> <span>在线人数</span> <span id="chat-num">0</span>-->
				</div>
				<form id="message-container" class="col-sm"></form>
			</div>
		</div>
		<div layout:fragment="script">
			<script type="text/javascript" th:src="@{js/index.js}"></script>
		</div>
	</div>
</body>
</html>
